/* PC:  */
@media (min-width: 1024px){
}

/* Tablet and mobile */
@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }

    .contact-form .form-control{
        padding: 15px;
    }

    .social-list {
        font-size: 48px;
    }

    #footer .socials-list a {
        margin: 0 8px;
    }

    .mobile-center{
        width: 100%;
        text-align: center;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .tablet{
        display: block;
    }
}

/* Mobile */
@media (max-width: 739px){
    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
    }

    #nav .subnav a{
        color: #ccc;
        padding: 5px 42px;
    }
    #header {
        overflow: hidden;
    }

    #header .menu-mobile{
        display: block;
    }

    #header .search-btn{
        display: none;
    }

    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }

    #content .avt{
        width: 60%;
    }

    #tour .list-ticket{
        width: 100%;
        margin-top: 16px;
    }

    .contact-mobile{
        width: 100%;
    }

    .mobile-center{
        width: 100%;
        text-align: center;
    }

    .s-col-full{
        width: 100%;
        margin-top: 8px;
    }
}